.post {
    box-shadow: rgba(48, 231, 255, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 1rem;
    width: 350px;
    border-radius: 0.5rem;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions > button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}